---
import { getLocale } from "astro-i18n-aut"
import { ViewTransitions } from "astro:transitions"
import BaseHead from "@components/BaseHead.astro"
import NavigationContainer from "@src/components/NavigationContainer.astro"
import Footer from "@components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/consts"
import ContactModal from "@components/ContactModal.astro"

const locale = getLocale(Astro.url)

// replaced dynamically
const buildDate = new Date(__DATE__)

type Props = {
	title?: string
	description?: string
	image?: string
}

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props as Props
---

<html lang={locale}>
	<head>
		<BaseHead title={title} description={description} image={image} />
		{/* Comment the line below if you want to remove client side routing */}
		<ViewTransitions />
	</head>

	<body class="flex flex-col items-center m-0 p-0 transition-all duration-300">
		<NavigationContainer />
		<main class="pt-24 sm:pt-10 px-10 w-full max-w-5xl">
			<slot />
		</main>
		<Footer {buildDate} />
		<ContactModal />
	</body>
</html>
