---
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/consts"
import Layout from "@layouts/Layout.astro"
import Title from "@src/components/blog/BlogHeader.astro"

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <article class="pt-16">
    <div class="w-full px-4">
      <!-- {
        heroImage && (
          <HeroImage
            class="mx-auto block rounded-lg shadow-md"
            width={1020}
            height={510}
            src={heroImage}
            alt={title}
          />
        )
      } -->
    </div>
    <div id="markdown-content" class="prose mx-auto max-w-screen-md space-y-4 pt-10 px-4">
      <div class="">
        <h1>{frontmatter.title}</h1>
        <!-- <hr /> -->
      </div>
      <slot />
    </div>
  </article>
</Layout>

<style>
  :global(#markdown-content > h2) {
    @apply pt-20 font-semibold;
  }

  :global(#markdown-content > table) {
    @apply my-10 mx-5 text-left outline outline-1 rounded overflow-hidden; /* Add spacing between columns and border around the table */
  }

  :global(#markdown-content > table th, td) {
    @apply p-2 border-b border-secondary/20; /* Add borders to table cells */
  }

  :global(#markdown-content > table thead) {
    @apply p-2 bg-secondary text-base-100;
  }

  html {
    @apply scroll-pt-20 lg:scroll-pt-5;
  }
</style>
